.header {
  padding: 0 20px;
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loggedInBlock {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logOutButton {
  padding: 8px;
  background-color: #ff5555;
}

.logOutButton:hover {
  background-color: #da4848;
  transition: all 0.4s ease;
}
