.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.authInput {
  height: 32px;
  padding: 20px;
}

.authButton {
  margin-top: 56px;
  height: 46px;
  color: white;
  background-color: var(--gradientColorBlue);
  transition: all 0.2s;
}
